.card {
  width: 300px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.picture {
  overflow: hidden;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  img {
    height: 100%;
  }
}
