.not_found {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  background-color: greenyellow;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}